---
import BaseLayout from '../layouts/baselayout.astro';
import BlogPost from '../components/blogpost.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Meu Blog de Aprendizagem Astro";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aqui é onde postarei sobre minha jornada aprendendo Astro.</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>