---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle= "Home Page";
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>{pageTitle}</h1>
	<h2>Meu primeiro site com Astro</h2>
	<p>meu deus eu finalemnte consegui que tanto sofrimentoooo</p>
	<Navigation />
  <Footer />
  </body>
</html>
