---
import Navigation from './navigation.astro';
import Hamburguer from './hamburguer.astro';
import ThemeIcon from './themeicon.astro';
---

<header>
  <nav>
    <Hamburguer />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>